* {
    padding: 0;
    margin: 0;
}

html body{
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container-fluid {
    background-color: black;
    opacity: 0.8;
}

nav ul li {
    font-weight: bold;
}

nav ul li:hover {
    background-color: black;
    opacity: 0.5px;
    border-radius: 15px;
}